{include file="public/meta"}

<input type="button" onclick="delAll()" value="批量删除" />
<input type="button" onclick="che()" value="全选/反选" />
<table border="1" cellspacing="0" cellpadding="0" style="width: 80%" align="center">
    <tr>
        <td><input type="checkbox" onclick="cheAll()" id="che"></td>
        <td>姓名</td>
        <td>性别</td>
        <td>年龄</td>
        <td>操作</td>
    </tr>
    {volist name="list" id="v"}
    <tr>
        <td><input type="checkbox" value="{$v.id}" id="ck" name="ck[]"></td>
        <td>{$v.name}</td>
        <td>{$v.sex}</td>
        <td>{$v.age}</td>
        <td>

            <input type="button" onclick="delAll()" value="删除" />
        </td>
    </tr>
    {/volist}
</table>


{include file="public/footer"}

<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    //全选
    function cheAll()
    {
        var cek = $("#che")[0].checked;
        var ck = $("input[name='ck[]']");
        for(var i = 0; i < ck.length; i++)
        {
            ck[i].checked = cek;
        }
    }

    //反选
    function che()
    {
        var cks = document.getElementsByName("ck[]");
        for(var i = 0; i < cks.length; i++)
        {
            cks[i].checked = !cks[i].checked;
        }
    }

    //批量删除
    function delAll()
    {
        var ck = $("input:checked[name='ck[]']");
        //获取到选中的input框的值
        var result = [];
        ck.each(function(){
            result.push($(this).val());
        })
        //console.log(result)
        if(ck.length == 0)
        {
            alert("请选择,然后进行删除");
            return;
        }
        layer.confirm('确认删除吗?',function(index)
        {
            $.ajax({
                type:'post',
                url:"{:url('batchDel/del')}",
                dataType:'json',
                data:{'ids':result},
                success:function(result)
                {
                    if(result.status == 1)
                    {
                        for(var i = 0; i < ck.length; i++)
                        {
                            ck[i].parentNode.parentNode.remove();
                        }
                        layer.msg(result.msg,{icon:1,time:2000});
                    }else{
                        layer.msg(result.msg,{icon:5,time:2000});
                    }
                }

            })
        })


      /*  var f=confirm("确认删除!!");
        if(!f){
            return;
        }
        for(var i = 0; i < ck.length; i++)
        {
            ck[i].parentNode.parentNode.remove();
        }*/
    }



</script>
