{include file="public/meta"}
<article class="page-container">
    <form class="form form-horizontal" id="form-rule-add" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"
                       autocomplete="off"
                       value="{$result.one.title}" placeholder="" id="title" name="title">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">规则标识：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"
                       autocomplete="off"
                       value="{$result.one.name}" placeholder="" id="name" name="name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">权限图标：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$result.one.icon}" placeholder="请使用矢量图标代码" id="icon" name="icon">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">上级分类：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
		<select class="select" name="p_id" size="1">
			<option value="0">顶级分类</option>
            {foreach name="result.parent_rule" item="v" key="k"}
                <option value="{$v.id}" {$result.one.p_id == $v.id ? 'selected':''}>
                    {$v.title}
                </option>
            {/foreach}
		</select>
		</span> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否启用：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="status"
                           type="radio" id="sex-1" checked value="1"
                           {$result.one.status == 1 ? 'checked':''}
                    >
                    <label for="sex-1">启用</label>
                </div>
                <div class="radio-box">
                    <input name="status"
                           type="radio" id="sex-2"  value="0"
                           {$result.one.status === 0 ? 'checked':''}
                    >
                    <label for="sex-2">禁用</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否在菜单栏显示：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="is_show" type="radio" id="sex-11" checked value="1"
                            {$result.one.is_show == 1 ? 'checked':''}>
                    <label for="sex-1">显示</label>
                </div>
                <div class="radio-box">
                    <input name="is_show" type="radio" id="sex-22"  value="0"
                            {$result.one.is_show === 0 ? 'checked':''}>
                    <label for="sex-2">不显示</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="hidden" name="id" value="{$result.one.id}">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{include file="public/footer"}
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-yellow',
            increaseArea: '20%'
        });
        $("#form-rule-add").validate({
            rules:{
                title:{
                    required:true,
                },
                status:{
                    required:true,
                },

            },
            submitHandler:function(form){
                var data = $(form).serialize();  //获取数据
                url = "{:url('adminRule/rule')}";
                $.post(url,data,function(result)
                {
                    if(result.status == 1)
                    {
                        layer.msg(result.msg,{icon:1,time:2000});
                        setInterval("closeWindow()",2000);
                    }else{
                        layer.msg(result.msg,{icon:5,time:2000});
                    }
                },'JSOn');
            }
        });
    });
    function closeWindow(){
        var index = parent.layer.getFrameIndex(window.name);
        window.parent.location.reload();
    }
</script>

