{include file="public/meta"}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>查看赛程
    <span class="c-gray en">&gt;</span> 竞猜列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container">
    <div class="text-c">
        <button onclick="removeIframe()" class="btn btn-primary radius">关闭该页面</button>
        <input type="text" class="input-text" style="width:250px" placeholder="" id="" name="">
        <button type="submit" class="btn btn-success" id="phasegame_name" name="phasegame_name">
            <i class="Hui-iconfont">&#xe665;</i> 搜索
        </button>
    </div>
    <br><br>
    {empty name="list"}
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			 <a class="btn btn-danger radius"
                data-title="新加竞猜"
                data-href="{:url('guess/guess',['game_id'=>$game_id,'game_number'=>$game_number])}"
                onclick="Hui_admin_tab(this)" href="javascript:;">
                <i class="Hui-iconfont">&#xe600;</i> 新加竞猜
             </a>
        </span>
    </div>
    {/empty}

    <table class="table table-border table-bg">
        <thead>
        <tr class="text-c">
            <th>大赛名</th>
            <th>场次编号</th>
            <th>选手</th>
            <th>阶段名</th>
            <th>竞猜开始时间</th>
            <th>竞猜结束时间</th>
            <th>总投注</th>
            <th>胜/负注数</th>
            <th>单选详情</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr class="text-c">
            <td>{$v.big_game_name}</td>
            <td>{$v.game_number}</td>
            <td>{$v.play_a_name}--{$v.play_b_name}</td>
            <td>{$v.phasegame_name}</td>
            <td>{:date("Y-m-d H:i:s",$v.start_time)}</td>
            <td>{:date("Y-m-d H:i:s",$v.end_time)}</td>
            <td>{$v.betting_allcount}</td>
            <td>{$v.win_count}/{$v.loss_count}</td>
            <td>查看单选</td>
            <td>
              <!--  <a class="btn btn-primary radius"
                   data-title="修改"
                   data-href="{:url('guess/guess',['id'=>$v.id])}"
                   onclick="Hui_admin_tab(this)" href="javascript:;">
                    编辑竞猜
                </a>-->

                <a class="btn btn-primary radius"
                   onclick='edit_guess("{:url('guess/editguess',['id'=>$v.id])}")' href="javascript:;">
                    编辑竞猜
                </a>


                <!--{if condition="$v.status == 1 && $v.manual_open == 1"}-->
                    <!--<a href="javascript:;" class="btn btn-success radius"-->
                       <!--onclick="manual_close('{$v.id}')">已开启</a>-->
                <!--{else}-->
                    <!--<a href="javascript:;" class="btn btn-default radius"-->
                       <!--onclick="manual_open('{$v.id}')">未开启</a>-->
                <!--{/if}-->
                <!--<a href="javascript;" style="color: #2a58ee;font-size: 16px">关闭</a>-->
                <a title="删除" href="javascript:;" onclick="del(this,'{$v.id}')" class="btn btn-danger radius" style="text-decoration:none">删除</a>
            </td>
        </tr>
        {/volist}


        </tbody>
    </table>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    function edit_guess(url)
    {
        window.location.href = url;
    }

    /*手动关闭竞猜*/
    function manual_close(id)
    {
        layer.confirm('确认关闭该竞猜吗？',function(index)
        {
            $.ajax({
                type: 'POST',
                url: "{:url('guess/manualCloseGuess')}",
                dataType: 'json',
                data:{'id':id},
                success: function(result)
                {
                    if(result.status == 1)
                    {
                        layer.msg(result.msg,{icon:1,time:2000});
                        setInterval("loadPage()",1200);
                    }else{
                        layer.msg(result.msg,{icon:5,time:2000});
                    }
                },
                error:function(result) {
                    console.log(result.msg);
                },
            });
        });
    }
    /*手动打开竞猜*/
    function manual_open(id)
    {
        layer.confirm('确认开启该竞猜吗？',function(index)
        {
            $.ajax({
                type: 'POST',
                url: "{:url('guess/manualOpenGuess')}",
                dataType: 'json',
                data:{'id':id},
                success: function(result)
                {
                    if(result.status == 1)
                    {
                        layer.msg(result.msg,{icon:1,time:2000});
                        setInterval("loadPage()",1200);
                    }else{
                        layer.msg(result.msg,{icon:5,time:2000});
                    }
                },
                error:function(result) {
                    console.log(result.msg);
                },
            });
        });
    }

    /*球员或国家-增加*/
    function add(title,url,w,h)
    {
        layer_show(title,url,w,h);
    }
    /*管理员-删除*/
    function del(obj,id)
    {
        layer.confirm('确认要删除吗？',function(index)
        {
            $.ajax({
                type: 'POST',
                url: "{:url('gameLive/del')}",
                dataType: 'json',
                data:{'id':id},
                success: function(result)
                {
                    if(result.status == 1)
                    {
                        $(obj).parents("tr").remove();
                        layer.msg(result.msg,{icon:1,time:2000});
                        setInterval("loadPage()",1200);
                    }else{
                        layer.msg(result.msg,{icon:5,time:2000});
                    }
                },
                error:function(result) {
                    console.log(result.msg);
                },
            });
        });
    }

    /*管理员-编辑*/
    function edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-修改密码*/
    function change_password(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*停用*/
    function changeStatus(id,value,field,message)
    {
        layer.confirm(message,function(index)
        {
            //console.log(id);
            //console.log(value);   //status改变的值
            //console.log(field);   //要改变的字段
            $.ajax({
                type:'post',
                url:"{:url('sport/changeStatus')}",
                data:{'id':id,'field':'status','value':value},
                success:function(result)
                {
                    if(typeof result === 'string')
                    {
                        result = jQuery.parseJSON(result);
                    }
                    if(result.status == 1){
                        layer.msg(result.msg,{icon: 1,time:1000});
                        setInterval("loadPage()",1200);
                    }else{
                        layer.msg(result.msg,{icon:5,time:1000});
                    }
                }
            });
        });
    }
    function loadPage() {
        location.reload();
    }

    /*管理员-启用*/
    // function admin_start(obj,id){
    //     layer.confirm('确认要启用吗？',function(index){
    //         //此处请求后台程序，下方是成功后的前台处理……
    //         $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
    //         $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
    //         $(obj).remove();
    //         layer.msg('已启用!', {icon: 6,time:1000});
    //     });
    // }
</script>
</body>
</html>
